<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SftpHostname" value="sftp.iqsolution.pl"/>
		<add key="SftpPort" value="22"/>
		<add key="SftpUsername" value="gaska"/>
		<add key="SftpPassword" value="L3dJM#fLxH8WV7tC4ST"/>
		<add key="Godzina wysylki" value="12"/>
		<add key="SftpFolderPath" value="/incoming"/>
		<add key="Co ile minut odpytywac" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="GaskaConnectionString" connectionString="Server=192.168.0.105;Database=CDNXL_GASKA;User Id=Gaska;Password=mNgHghY4fGhTRQw;Connection Timeout=5"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
